<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		<div id="header">
				{{>nav}}
		</div>
		<div id="body">
			<section class="section">
				<div class="container">
					{{>flashMsg}}
					{{{body}}}
				</div>
			</section>
		</div>
		<div class="container">
			<div id="footer">
				<p>Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.</p>
			</div>
		</div>
		{{!--<script src="/js/jquery/jquery-1.11.3.min.js"></script>--}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
