body {
    color: $text;
    font-family: 'Vollkorn', serif;
    font-weight: 100;
    line-height: 1.4rem;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.6em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.5em;
}

p {
    margin: 0.5em 0;
}