{{!
< default}} <div class="container">
	<div class="jumbotron">
		{{#if data.events}}
			{{#each data.events}}
				<h2> {{title}} </h2>
				<p> {{{description}}} </p>
			{{#if @last}} {{else}} <hr /> {{/if}}
			{{/each}}
		{{/if}}
	</div>
</div>