<!DOCTYPE html>
<html>
	{{>head}}
	<body>
		<section class="header">
			{{>nav}}
		</section>

		<section class="body">
			{{>flashMsg}}
			{{{body}}}
		</section>

		<section class="footer">
			{{>footer}}
		</section>

		{{!--<script src="/js/jquery/jquery-1.11.3.min.js"></script>--}}
		{{{isAdminEditorJS user}}}
	</body>
</html>
