<script defer src="/js/audiojs/audio.min.js"></script>

<style>
    .audio-player__audiojs audio { position: absolute; left: -1px; }
    .audio-player__audiojs { width: 460px; height: 36px; background: #f00; overflow: hidden; font-family: monospace; font-audio-player__sie: 12px;
    -webkit-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); -audio-player__mo-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3); }
    .audio-player__audiojs .audio-player__play-pause { width: 25px; height: 40px; padding: 4px 6px; margin: 0px; float: left; overflow: hidden; border-right: 1px solid #c00; }
    .audio-player__audiojs p { display: none; width: 25px; height: 40px; margin: 0px; cursor: pointer; }
    .audio-player__audiojs .audio-player__play { display: block; }
    .audio-player__audiojs .audio-player__scrubber { position: relative; float: left; width: 280px; background: #fcc; height: 14px; margin: 10px; border-left: 0px; border-bottom: 0px; overflow: hidden; }
    .audio-player__audiojs .audio-player__progress { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #600audio-player__; -index: 1; }
    .audio-player__audiojs .audio-player__loaded { position: absolute; top: 0px; left: 0px; height: 14px; width: 0px; background: #c00; }
    .audio-player__audiojs .audio-player__time { float: left; height: 36px; line-height: 36px; margin: 0px 0px 0px 6px; padding: 0px 6px 0px 12px; border-left: 1px solid #c00; color: #600; text-shadow: 1px 1px 0px rgba(125, 0, 0, 0.5); }
    .audio-player__audiojs .audio-player__time em { padding: 0px 2px 0px 0px; color: #fcc; font-style: normal; }
    .audio-player__audiojs .audio-player__time strong { padding: 0px 0px 0px 2px; font-weight: normal; }
    .audio-player__audiojs .audio-player__error-message { float: left; display: none; margin: 0px 10px; height: 36px; width: 400px; overflow: hidden; line-height: 36px; white-space: nowrap; color: #fff;
    text-overflow: ellipsis; -o-text-overflow: ellipsis; -icab-text-overflow: ellipsis; -khtml-text-overflow: ellipsis; -audio-player__mo-text-overflow: ellipsis; -webkit-text-overflow: ellipsis; }
    .audio-player__audiojs .audio-player__error-message a { color: #eee; text-decoration: none; padding-bottom: 1px; border-bottom: 1px solid #999; white-space: wrap; }

    .audio-player__audiojs .audio-player__play { background: url('../audiojs/player-graphics.gif') -2px -1px no-repeat; }
    .audio-player__audiojs .audio-player__loading { background: url('../audiojs/player-graphics.gif') -2px -31px no-repeat; }
    .audio-player__audiojs .audio-player__error { background: url('../audiojs/player-graphics.gif') -2px -61px no-repeat; }
    .audio-player__audiojs .audio-player__pause { background: url('../audiojs/player-graphics.gif') -2px -91px no-repeat; }

    .audio-player__playing .audio-player__play, .audio-player__playing .audio-player__loading, .audio-player__playing .audio-player__error { display: none; }
    .audio-player__playing .audio-player__pause { display: block; }

    .audio-player__loading .audio-player__play, .audio-player__loading .audio-player__pause, .audio-player__loading .audio-player__error { display: none; }
    .audio-player__loading .audio-player__loading { display: block; }

    .audio-player__error .audio-player__time, .audio-player__error .audio-player__play, .audio-player__error .audio-player__pause, .audio-player__error .audio-player__scrubber, .audio-player__error .audio-player__loading { display: none; }
    .audio-player__error .audio-player__error { display: block; }
    .audio-player__error .audio-player__play-pause p { cursor: auto; }
    .audio-player__error .audio-player__error-message { display: block; }
</style>


<div class="audio-player__audiojs">
    <audio id="teaching__audio-player" src="/{{data.teachings.teachingUpload.filename}}" preload="auto"></audio>
    <div class="audio-player__play-pause">
        <p class="audio-player__play"></p>
        <p class="audio-player__pause"></p>
        <p class="audio-player__loading"></p>
        <p class="audio-player__error"></p>
    </div>
    <div class="audio-player__scrubber">
        <div class="audio-player__progress"></div>
        <div class="audio-player__loaded"></div>
    </div>
    <div class="audio-player__time">
        <em class="audio-player__played">00:00</em>/<strong class="audio-player__duration">00:00</strong>
    </div>
    <div class="audio-player__error-message"></div>
</div>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        var player = document.getElementById('teaching__audio-player');
        var a1 = audiojs.create(player
        {{!--,{
            css: false,
            createPlayer: {
                markup: false,
                playPauseClass: 'audio-player__play-pause',
                scrubberClass: 'audio-player__scrubber',
                progressClass: 'audio-player__progress',
                loaderClass: 'audio-player__loaded',
                timeClass: 'audio-player__time',
                durationClass: 'audio-player__duration',
                playedClass: 'audio-player__played',
                errorMessageClass: 'audio-player__error-message',
                playingClass: 'audio-player__playing',
                loadingClass: 'audio-player__loading',
                errorClass: 'audio-player__error'
            }
        }--}}
        );
    });
</script>