html {
    // background-image: $background_palestone;
    box-sizing: border-box;
    height: 100%;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 4rem;
  min-height: 100%;
}

.body {
    background-color: transparent;
    margin: 0 auto;
    max-width: $desktop;
    padding: 80px 1em 0;

    @media (min-width: $tablet) {
        padding: 150px 5% 40px;
    }

    @media (min-width: $desktop) {
        padding: 120px 2% 40px;
    }
}