body {
    color: $text;
    font-family: 'Oxygen', sans-serif;
    // font-weight: 100;
    // line-height: 1.4rem;
    // Arial, Courier, and Verdana
}

.font__scripty {
    font-family: 'Dancing Script', cursive;
    font-size: 1.4em;
    @media (min-width: 375px) {
        font-size: 1.8em;
    }
}
