// Breakpoints
$phablet: 500px;
$tablet: 680px;

// Attributes
body {
    color: $text;
    font-family: 'Vollkorn', serif;
    font-weight: 100;
    line-height: 1.4rem;
}

h1 {
    font-size: 2em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.6em;
    line-height: 1.5em;
}

h3 {
    font-size: 1.4em;
    line-height: 1.5em;
}

p {
    margin: 0.5em 0;
}

.announcement {
    margin-bottom: 0.8em;
    text-align: center;
}

.announcement-title {
    font-size: 1.2em;
    font-weight: 500;
}

.important-announcement {
    background-color: lighten($danger, 20%);
    border: 1px solid $danger;
    border-radius: 4px;
    margin-bottom: 1em;
    padding: 0.6em 0.6em 0;
    width: 100%;
}

.directions_button {
    display: block;
    margin: 0 auto;
    font-size: 1em;
    background: $light;
    border-radius: 4px;
    border: 1px solid darken($light, 4%);
    padding: 0.5em 2em;    
    &:active {
        background: darken($light, 4%);
    }
    &:hover {
        background: darken($light, 4%);
    }
}

.hide {
    display: none;
}

//Mobile
@media (max-width: $phablet - 1) {
    h1,h2,h3,h4,h5,h6 {
        text-align: center;
    }
    .hide__mobile {
        display: none;
    }
    .mobile_block {
        display: block; 
    }
}

//Non Mobile
@media (min-width: $phablet) {
    .important-announcement {
        display:inline-block;
        padding-right: 2em;
    }
    .hide__desktop {
        display: none;
    }
}

