.home {
    &__description {
        margin-bottom: 1.2em;
    }

    &__ministries-container {
        display: flex;
        margin-top: 0.5em;
    }

    &__ministries-item-left {
        display: none;
    }

    &__teachings-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
    }

    &__teachings-date {
        font-size: 0.8em;
        text-align: center;
    }

    &__teachings-item {
        flex-basis: 100%;
        margin-bottom: 1em;
        &:hover {
            color: black;
            opacity: 0.9;
        }
    }

    &__teachings-image {
        display: block;
        margin: 0 auto;
    }

    &__teachings-title {
        font-size: 1.4em;
        margin: 0.6em 0 0.2em;
        text-align: center;
    }

    &__title {
        font-size: 1.1em;
        font-weight: 500;
    }

    @media(min-width: $phablet) {
        &__ministries-time {
            display: inline;
        }
    }

    @media(min-width: $tablet) {
        &__ministries-time {
            display: block;
        }
        &__ministries-item-left {
            display: block;
            flex-basis: 30%;
        }

        &__ministries-item-right {
            margin-left: 5%;
            flex-basis: 65%;
        }

        &__teachings-item {
            flex-basis: 45%;
            margin: 0 2.5%;
        }
    }

    @media(min-width: $desktop) {
        &__ministries-time {
            display: inline;
        }
    }
}