.teaching {
        
    &__link {
        font-size: 1.4em;
        line-height: 1.4em;
        padding: 0.4em 0;
    }

    &__column {
        margin: 0.5em 1em;
    }

    &__player-container{
        margin: 2em 0;
    }

    @media(min-width: $tablet){
        &__container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }

        &__column {
            flex-basis: 35%;
            margin-left: 5%;
            margin-right: 5%;
        }
    }

    @media(min-width: $desktop){
        &__column {
            flex-basis: 30%;
            margin-left: 1%;
            margin-right: 1%;
        }
    }
}